{% extends "pages/abstract/default.html.twig" %}

{% block stylesheets_page %}
    
    {{ parent() }}

    {{ assets.css('css/bfactg/main') | raw }}
    
{% endblock %}

{% set page_active = "membership" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{translate("Count of Users Having Role")}}{% endblock %}

{% block page_description %}Full page chart of user count for each role{% endblock %}

{% block body_matter %}
    
    <div class="account-graph-type-selector">
        <span>Chart Options: </span>
        <span id="account-graph-select-bar" class="account-graph-selector account-graph-unselected" title='Click for bar chart of role membership'><i class="fa fa-bar-chart fa-fw"></i></span>
        <span id="account-graph-select-pie" class="account-graph-selector account-graph-unselected" title='Click for pie chart of role membership'><i class="fa fa-pie-chart fa-fw"></i></span>
    </div>    
    <div id="account-graph-single1" class="account-graph-single">
        
        <canvas id="myChart" width="400" height="200"></canvas>
    
    </div>  
    
{% endblock %}

{% block scripts_page %}
    
    <!-- Javascript configuration -->
    <script>
    {% include "pages/partials/graph-config.js.twig" %}
    </script>

    <script>
    {% include "pages/partials/page.js.twig" %}
    </script>

    {{ assets.js('js/bfactg/main') | raw }}

    <!-- Include page-specific JS -->
    {{ assets.js('js/bfactg/pages/charts-role-membership') | raw }}
    
{% endblock %}

